.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.text-bold {
  font-weight: bold;
}

.btn-margin-10 {
  margin-right: 10px !important;
  margin-left: 10px !important;
}

.row-padding-10 {
  padding: 10px !important;
}

.row-padding-20 {
  padding: 20px !important;
}

.div-margin-10 {
  margin: 10px !important;
}

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
}

#sidebar.active {
  margin-left: -250px;
}

.full-width {
  width: 100% !important;
}

.field-rows:nth-child(even){background-color: #f2f2f2;}

.field-rows:hover {background-color: #ddd;}

.field-rows {
  border-bottom: 1px solid #ddd;
}

.field-rows:first-child {
  border-top: 1px solid #ddd;
}